<footer>

    Source des données : <a
        href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">
        Centre européen de prévention et contrôle des maladies
    </a>

</footer>