<footer>

    <div class="row my-3">
        <div class="col">
            <a class="btn btn-secondary btn-sm"
                href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">
                Source : Centre européen de prévention et contrôle des maladies
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-secondary btn-sm
             withInlineLogo" href="https://t.me/evolution_coronavirus_bot"
                style="background-image:url(images/telegram_104163.svg)">
                Obtenez une notification sur Telegram avec ce bot</a>
        </div>
    </div>

</footer>