<footer>


    <div>
        <div class="row">
            <div class="col">
                Source des données : <a class="badge badge-secondary"
                    href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">
                    Centre européen de prévention et contrôle des maladies
                </a>
            </div>
            <div class="col">
                <a class="badge badge-secondary withInlineLogo" href="https://t.me/evolution_coronavirus_bot"
                    style="background-image:url(images/telegram_104163.svg)">
                    Obtenez une notification sur Telegram avec ce bot</a>
            </div>
        </div>

    </div>

</footer>