<!DOCTYPE html>
<html>

<head lang="fr">
  <%- include('partials/head.ejs') %>

    <script src="/extLibs/chart.js/chart.js-3.5.0.min.js"></script>
    <script type="module" src="/javascripts/barchart.js"></script>

    <script type="module">

      import { load_countries } from "/javascripts/getData.js";

      let countries = await load_countries();
      console.log(countries);

    </script>

</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>
          <%= globalTitle %>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Chargement ...
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-items">
          </div>
        </div>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">

        <div class="custom-control custom-switch">

          <input id="logCheckbox" type="checkbox" class="custom-control-input"></input>
          <label class="custom-control-label" for="logCheckbox">Echelle logarithmique</label>

        </div>

      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <input type="number" min="1" id="windowWiseSelector" value="1">

        <button type="button" id="shiftButton">Shift data</button>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">

        <canvas id="barchart"></canvas>

      </div>
    </div>

    <%- include('partials/footer.ejs') %>

  </div>

</body>

</html>