<!DOCTYPE html>
<html>

<head lang="fr">
  <%-
      include('partials/head.ejs')
    %>

  <script src="javascripts/barchart.js"></script>
</head>

<body>
  <h1><%= globalTitle %></h1>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      France
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">France</a>
    </div>
  </div>

  <br>

  <div class="custom-control custom-switch">

    <input id="logCheckbox" type="checkbox" class="custom-control-input"></input>
    <label class="custom-control-label" for="logCheckbox">Echelle logarithmique</label>

  </div>

  <div id="tooltip" role="tooltip"></div>

  <div id="barchart"></div>

  <%- 
  
    include('partials/footer.ejs')
  
  %>
</body>

</html>