<!DOCTYPE html>
<html>

<head lang="fr">
  <%- include('partials/head.ejs') %>

    <script src="/extLibs/chart.js/chart.js-3.5.0.min.js"></script>

    <script>

      function appendWindowdSizeSelector(customChart) {

        let windowSizeSelector = $('<input type="number" min="1" value="7">');

        windowSizeSelector.change(function () {
          customChart.setMovingAvgWindowSize($(this).val());
        });
        customChart.setMovingAvgWindowSize(windowSizeSelector.val());

        $('#windowSizeSelectorDiv').append(windowSizeSelector);

      }

      function appendWindowdSizeSelectorRadios(customChart) {

        let i = 0;
        for (let windowSize of [14, 30]) {

          let radioId = 'windowSizeRadio' + i;

          let radio = $('<input type="radio" class="btn-check" name="windowSize" autocomplete="off">')
            .val(windowSize)
            .attr('id', radioId)
            .change(function () {

              customChart.setMovingAvgWindowSize($(this).val());

            });

          let label = $('<label class="btn btn-secondary mx-1">')
            .attr('for', radioId)
            .text(windowSize);

          $('#windowSizeSelectorDiv')
            .append(radio)
            .append(label);

          ++i;
        }

        let default_radio_btn = $('#windowSizeRadio0').prop('checked', true);
        customChart.setMovingAvgWindowSize(parseInt(default_radio_btn.val()));
      }

    </script>

    <script type="module">

      import { load_countries } from "/javascripts/getData.js";


      import CustomChart from "/javascripts/CustomChart.js";

      $(async function () {



        let customChart = new CustomChart('#barchart');

        load_countries(customChart);

        $('#logCheckbox').change(function () {

          customChart.setScaleLog($(this).prop('checked'));

        });
        customChart.setScaleLog($('#logCheckbox').prop('checked'));

        appendWindowdSizeSelectorRadios(customChart);

        const ZOOOM_DAYS = 30;
        $('#labelZoomLastMonth').text('zoom ' + ZOOOM_DAYS + ' jours');
        function handleZoomSwitch() {

          if ($('#checkboxZoomLastMonth').prop('checked'))
            customChart.setZoomLastDays(ZOOOM_DAYS);
          else
            customChart.setZoomLastDays(null);

        }

        $('#checkboxZoomLastMonth').change(handleZoomSwitch);
        handleZoomSwitch();

      });

    </script>

</head>

<body class="bg-dark text-white">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>
          <%= globalTitle %>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="dropdown" id="countriesDropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
            </span>
            Chargement ...
          </button>
          <ul class="dropdown-menu" aria-labelledby="countriesDropdown">
          </ul>
        </div>

      </div>
    </div>

    <div class="row my-3">
      <div class="col">

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="logCheckbox">
          <label class="form-check-label" for="logCheckbox">Echelle logarithmique</label>
        </div>

      </div>
    </div>

    <div class="row mt-3">
      <div class="col" id="windowSizeSelectorDiv">
        Fenêtre moyenne glissante
      </div>
    </div>

    <div class="row">
      <div class="col">

        <canvas id="barchart"></canvas>

      </div>
    </div>

    <div class="row mb-3">

      <div class="col d-flex flex-row-reverse">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="checkboxZoomLastMonth">
          <label class="form-check-label" for="checkboxZoomLastMonth" id="labelZoomLastMonth"></label>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

  </div>

</body>

</html>