<!DOCTYPE html>
<html>

<head lang="fr">
  <%- include('partials/head.ejs') %>

    <script src="/extLibs/chart.js/chart.js-3.5.0.min.js"></script>

    <script type="module">

      import { load_countries } from "/javascripts/getData.js";

      import CustomChart from "/javascripts/CustomChart.js";

      $(async function () {

        let customChart = new CustomChart('#barchart');
        customChart.setMovingAvgWindowSize(7);

        // $('#windowSizeSelector').change(function () {
        //   customChart.setMovingAvgWindowSize($(this).val());
        // });
        // customChart.setMovingAvgWindowSize($('#windowSizeSelector').val());

        load_countries(customChart);

      });

    </script>

</head>

<body class="bg-dark text-white">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>
          <%= globalTitle %>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="dropdown" id="countriesDropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
            </span>
            Chargement ...
          </button>
          <ul class="dropdown-menu" aria-labelledby="countriesDropdown">
          </ul>
        </div>

      </div>
    </div>

    <div class="row my-3">
      <div class="col">

        <div class="custom-control custom-switch">

          <input id="logCheckbox" type="checkbox" class="custom-control-input"></input>
          <label class="custom-control-label" for="logCheckbox">Echelle logarithmique</label>

        </div>

      </div>
    </div>

    <!-- <div class="row my-3">
      <div class="col">
        <input type="number" min="1" id="windowSizeSelector" value="1">
      </div>
    </div> -->

    <div class="row my-3">
      <div class="col">

        <canvas id="barchart"></canvas>

      </div>
    </div>

    <%- include('partials/footer.ejs') %>

  </div>

</body>

</html>