<!DOCTYPE html>
<html>

<head>
  <title><%= globalTitle %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="extLibs/jquery-3.4.1.min.js"></script>
  <script src="extLibs/d3.v5.min.js"></script>
  <script src="javascripts/barchart.js"></script>

  <%-
      include('partials/head.ejs')
    %>
</head>

<body>
  <h1><%= globalTitle %></h1>

  <div class="controls">
    <input id="logCheckbox" type="checkbox"></input>
	<label for="logCheckbox">Log scale</label>
  </div>

</body>

</html>