<!DOCTYPE html>
<html>

<head>
  <%-
      include('partials/head.ejs')
    %>

  <script src="javascripts/barchart.js"></script>
</head>

<body>
  <h1><%= globalTitle %></h1>

  <div class="custom-control custom-switch">

    <input id="logCheckbox" type="checkbox" class="custom-control-input"></input>
    <label class="custom-control-label" for="logCheckbox">Echelle logarithmique</label>

  </div>

  <div id="barchart"></div>

  <%- 
  
    include('partials/footer.ejs')
  
  %>
</body>

</html>