<!DOCTYPE html>
<html>

<head>
  <title><%= globalTitle %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script async src="extLibs/jquery-3.4.1.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="javascripts/barchart.js"></script>
  
</head>

<body>
  <h1><%= globalTitle %></h1>



</body>

</html>