<!DOCTYPE html>
<html>

<head lang="fr">
  <%- include('partials/head.ejs') %>

    <script src="/extLibs/chart.js/chart.js-3.5.0.min.js"></script>

    <script>

      function rand() {
        return Math.random();
      }

      function getRandomData() {

        const VALUES_COUNT = 100;

        let rawValues = [];

        const labels = [];

        const MAX_RAW_VAL = 5;

        for (let i = 0; i < 1; ++i) {

          rawValues.push(rand(0, MAX_RAW_VAL));
          labels.push(i + 1);
        }

        for (let i = 1; i < VALUES_COUNT; ++i) {

          let tmpvValS = []
          for (let j = 0; j < 10; ++j) {

            tmpvValS.push(rand(0, MAX_RAW_VAL));

          }
          // console.log(tmpvValS);

          tmpvValS.sort((a, b) => {
            return Math.abs(a - rawValues[i - 1]) - Math.abs(b - rawValues[i - 1]);
          });

          // console.log(tmpvValS);

          rawValues.push(tmpvValS[0]);

          labels.push(i + 1);
        }

        return [rawValues, labels];
      }

    </script>

    <script type="module">

      import { load_countries } from "/javascripts/getData.js";

      import CustomChart from "/javascripts/CustomChart.js";

      function rand() {
        return Math.random();
      }

      $(async function () {

        let customChart = new CustomChart('#barchart');

        let randomData = getRandomData();
        customChart.setData(randomData[0], randomData[1], $('#windowSizeSelector').val());

        $('#windowSizeSelector').change(function () {
          customChart.setMovingAvgWindowSize($(this).val());
        });

        let countries = await load_countries();
        console.log(countries);

      });

    </script>

</head>

<body class="bg-dark text-white">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>
          <%= globalTitle %>
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="dropdown" id="countriesDropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
            </span>
            Chargement ...
          </button>
          <ul class="dropdown-menu" aria-labelledby="countriesDropdown">
          </ul>
        </div>

      </div>
    </div>

    <div class="row my-3">
      <div class="col">

        <div class="custom-control custom-switch">

          <input id="logCheckbox" type="checkbox" class="custom-control-input"></input>
          <label class="custom-control-label" for="logCheckbox">Echelle logarithmique</label>

        </div>

      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <input type="number" min="1" id="windowSizeSelector" value="1">
      </div>
    </div>

    <div class="row my-3">
      <div class="col">

        <canvas id="barchart"></canvas>

      </div>
    </div>

    <%- include('partials/footer.ejs') %>

  </div>

</body>

</html>