<!DOCTYPE html>
<html>

<head lang="fr">
  <%- include('partials/head.ejs') %>

    <script src="/extLibs/chart.js/chart.js-3.5.0.min.js"></script>
    <script src="/javascripts/barchart.js"></script>
</head>

<body>
  <h1>
    <%= globalTitle %>
  </h1>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Chargement ...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-items">
    </div>
  </div>

  <br>

  <div class="custom-control custom-switch">

    <input id="logCheckbox" type="checkbox" class="custom-control-input"></input>
    <label class="custom-control-label" for="logCheckbox">Echelle logarithmique</label>

  </div>

  <div id="tooltip" role="tooltip"></div>


  <div>
    <canvas id="barchart"></canvas>
  </div>

  <%- include('partials/footer.ejs') %>
</body>

</html>