body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.bar{
  fill: rgb(173, 57, 72);
}

.bar:hover{
  fill: rgb(216, 158, 168);
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 44px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: rgb(216, 210, 212);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

footer {

  font-size: 1.2em;
  
}


#tooltip {
  background-color: #333;
  color: white;
  display: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

.axisTitle {
  font-size: 20px;
  letter-spacing:0.1em;
  text-anchor: middle;
}


.custom-control-input:checked ~ .custom-control-label::before {

  border-color: rgb(173, 57, 72);
  background-color: rgb(173, 57, 72);

}

.custom-control-input ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::after {
  box-shadow: none !important; 
}

.withInlineLogo {
  padding-left: 1.8em;
  background-size: auto 100%;
  background-repeat: no-repeat;
}